<% if obj.errors.any? %>
  <div>
    <%=  pluralize(obj.errors.count, "error") %>
      <ul>
        <div class="panel-body">
          <% obj.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
         </div>
      </ul>
   </div>
<% end %>
