<% if current_user %>
  <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-dark' %>
  <%= link_to 'Create product', new_product_path, class: "btn btn-success" %>
  <%= link_to 'All product', products_path, class: "btn btn-md"%>
<% end %>

<h1 align = "center" >Home#index</h1>
