<div class="container">
  <footer class="footer">
    <small>
      CopyRight&copy; <%= link_to 'Xcorebit', 'http://xcorebit.com', class: 'btn btn-success' %> by <%= link_to 'Ahmad', 'http://xcorebit.com' %>
    </small>
  </footer>
</div>


